HelloMetroBike/.classpath
HelloMetroBike/.project
HelloMetroBike/bin/
HelloMetroBike/gen/
HelloMetroBike/project.properties
HelloMetroBike/libs/google-play-services_lib/.classpath
HelloMetroBike/libs/google-play-services_lib/.project
HelloMetroBike/libs/google-play-services_lib/bin/
HelloMetroBike/libs/google-play-services_lib/gen/
HelloMetroBike/libs/google-play-services_lib/project.properties
MetroBike/.classpath
MetroBike/.project
MetroBike/.settings
MetroBike/proguard-project.txt
MetroBike/bin/
MetroBike/gen/
MetroBike/libs/google-play-services_lib/.classpath
MetroBike/libs/google-play-services_lib/.project
MetroBike/libs/google-play-services_lib/bin/
MetroBike/libs/google-play-services_lib/gen/
MetroBike/libs/google-play-services_lib/project.properties
MetroBike/test/bin/
MetroBike/test/gen/
MetroBike/test/local.properties
MetroBike/test/.classpath
MetroBike/test/.settings
MetroBikeJava/