<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.HuskySoft.metrobike"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.HuskySoft.metrobike.ui.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.HuskySoft.metrobike.ui.ResultsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.HuskySoft.metrobike.ui.DetailsActivity"
            android:label="@string/title_activity_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.HuskySoft.metrobike.ui.NavigateActivity"
            android:label="@string/title_activity_navigate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.HuskySoft.metrobike.ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.HuskySoft.metrobike.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.HuskySoft.metrobike.ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>