<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.HuskySoft.metrobike"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- From http://stackoverflow.com/questions/6305592/when-i-try-load-an-image-unknown-host-exception-in-android -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <!-- Needed for Google Maps API -->
    <permission
        android:name="com.HuskySoft.metrobike.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.HuskySoft.metrobike.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The following two permissions are not required to use
	     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- All activity should be in portrait mode -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.HuskySoft.metrobike.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.HuskySoft.metrobike.ui.ResultsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.HuskySoft.metrobike.ui.DetailsActivity"
            android:label="@string/title_activity_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.HuskySoft.metrobike.ui.NavigateActivity"
            android:label="@string/title_activity_navigate"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- set android:windowSoftInputMode to prevent this 
        		activity from showing soft keyboard automatically-->
        <activity
            android:name="com.HuskySoft.metrobike.ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.HuskySoft.metrobike.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.HuskySoft.metrobike.ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Needed for Google Maps API -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCLfZrMn6hJIiduzSHqK0n-QCc2k8DBnTM" />
    </application>

</manifest>